/* about us */
.aboutus {padding:1rem 2rem; background-color: lightblue;}
.aboutus p{ font-size: 28px;display: flex;justify-content: center;text-align: justify;margin: 50px;}

@media screen and (max-width: 576px) {
    .aboutus {
      padding: 0rem 0rem;
    }
    .aboutus p{ margin: 0px;}
  }
/* end about us */