/* single employee*/

.single-employee {
    padding: 5rem 0 0 0;
  }
  .single-employee-images {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
  }
  .single-employee-images img {
    width: 50%;
    display: block;
  }
  
  .single-employee-info {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem auto;
    font-size: 24px;
  }

 
  .desc,
  .info {
    margin: 2rem 0;
    font-size: 24px;
  }
  .desc h3 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin: 2rem;
  }
  .desc p {
    line-height: 1.5;
    margin: 2rem;
    text-align: justify;
  }
  .info h3,
  .info h6 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: justify;
  }
  
  .info h6 {
    font-weight: 300;
    font-size: 20px;
  }
  .employee-extras {
    margin: 2rem;
    text-align: justify;
    font-size: 18px;
  }
  .employee-extras h6 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .extras {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    
  }
  

  
  @media screen and (min-width: 992px) {
    .single-employee-images,
    .single-employee-info,
    .employee-extras {
      width: 95vw;
      max-width: 1170px;
    }
    .single-employee-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
    }
    .info {
      padding-left: 3rem;
    }
  }
  /* end of single employee*/